<?xml version="1.0" encoding="utf-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://maven.apache.org/POM/4.0.0"
    xmlns:web="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd"
    version="1">

    <!-- Login and Logout -->

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.google.autograder.servlets.auth.LoginServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <!-- Google OAuth -->
    
    <servlet>
        <servlet-name>RequestTokenServlet</servlet-name>
        <servlet-class>com.google.autograder.servlets.auth.RequestTokenServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>RequestTokenServlet</servlet-name>
        <url-pattern>/requestAccessToken</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ExchangeCodeServlet</servlet-name>
        <servlet-class>com.google.autograder.servlets.auth.ExchangeCodeServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ExchangeCodeServlet</servlet-name>
        <url-pattern>/exchangeAuthCode</url-pattern>
    </servlet-mapping>

    <!-- Courses -->
    
    <servlet>
        <servlet-name>ListCoursesServlet</servlet-name>
        <servlet-class>com.google.autograder.servlets.ListCoursesServlet</servlet-class>
    </servlet>
    
    <servlet-mapping> 
        <servlet-name>ListCoursesServlet</servlet-name>
        <url-pattern>/listCourses</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GetCourseDetailsServlet</servlet-name>
        <servlet-class>com.google.autograder.servlets.GetCourseDetailsServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>GetCourseDetailsServlet</servlet-name>
        <url-pattern>/getCourseDetails</url-pattern>
    </servlet-mapping>
    
    <!-- Assignments -->
    
    <servlet>
        <servlet-name>ListAssignmentsServlet</servlet-name>
        <servlet-class>com.google.autograder.servlets.ListAssignmentsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListAssignmentsServlet</servlet-name>
        <url-pattern>/listAssignments</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAssignmentDetailsServlet</servlet-name>
        <servlet-class>com.google.autograder.servlets.GetAssignmentDetailsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetAssignmentDetailsServlet</servlet-name>
        <url-pattern>/getAssignmentDetails</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CreateNewAssignmentServlet</servlet-name>
        <servlet-class>com.google.autograder.servlets.CreateNewAssignmentServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CreateNewAssignmentServlet</servlet-name>
        <url-pattern>/createNewAssignment</url-pattern>
    </servlet-mapping>
    
    <!-- Assignment Submissions -->
    
    <servlet>
        <servlet-name>ListAssignmentSubmissionsServlet</servlet-name>
        <servlet-class>com.google.autograder.servlets.ListAssignmentSubmissionsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListAssignmentSubmissionsServlet</servlet-name>
        <url-pattern>/listAssignmentSubmissions</url-pattern>
    </servlet-mapping>

    <!-- Answers -->

    <servlet>
        <servlet-name>AnswerServlet</servlet-name>
        <servlet-class>com.google.autograder.servlets.AnswerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AnswerServlet</servlet-name>
        <url-pattern>/answer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddAnswersServlet</servlet-name>
        <servlet-class>com.google.autograder.servlets.AddAnswersServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddAnswersServlet</servlet-name>
        <url-pattern>/addAnswers</url-pattern>
    </servlet-mapping>

    <!-- Questions -->
    
    <servlet>
        <servlet-name>QuestionServlet</servlet-name>
        <servlet-class>com.google.autograder.servlets.QuestionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>QuestionServlet</servlet-name>
        <url-pattern>/question</url-pattern>
    </servlet-mapping>

    <!-- Groups -->
    
    <servlet>
        <servlet-name>GroupServlet</servlet-name>
        <servlet-class>com.google.autograder.servlets.GroupServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GroupServlet</servlet-name>
        <url-pattern>/group</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUngradedGroupKeys</servlet-name>
        <servlet-class>com.google.autograder.servlets.GetUngradedGroupKeys</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetUngradedGroupKeys</servlet-name>
        <url-pattern>/getUngradedGroupKeys</url-pattern>
    </servlet-mapping>


    <!-- Manage Box (Outlines) -->
    
    <servlet>
        <servlet-name>ManageBoxServlet</servlet-name>
        <servlet-class>com.google.autograder.servlets.ManageBoxServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ManageBoxServlet</servlet-name>
        <url-pattern>/ManageBox</url-pattern>
    </servlet-mapping>

    <!-- Grade -->
    
    <servlet>
        <servlet-name>GradeServlet</servlet-name>
        <servlet-class>com.google.autograder.servlets.GradeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GradeServlet</servlet-name>
        <url-pattern>/grade</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetImageServlet</servlet-name>
        <servlet-class>com.google.autograder.servlets.GetImageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetImageServlet</servlet-name>
        <url-pattern>/getImage</url-pattern>
    </servlet-mapping>

</web-app>